
<if @book.save>
  <p>Book was successfully created</p>
</if>
<else>
  render :show_book_path
  
</else>

  <h4>Title:</h4>
  <p><%= @book.title %></p>

  <h4>Body:</h4>
  <p><%= @book.body %></p>

  <span>
    <%= link_to Edit, edit_book_path(books.id) %>
  </span>
  
  <span>
    <%= link_to Back, books_path(top) %>
  </span>
  
